PORT=3007
DATABASE_URL="postgresql://postgres:password@localhost:5432/admin_db?schema=public"
KAFKA_BROKERS=localhost:9092

# Service URLs
TRANSACTION_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
COMPLIANCE_SERVICE_URL=http://localhost:3005
